<html>
<head>
    <title>Web form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            $('#submit-button').on('click', function () {
                let name = $('#name-input').val();
                let dob = $('#dob-input').val();
                let contact = $('#contact-input').val();
                let email = $('#email-input').val();
                let me = $('#me-input').val();
                let mp = $('#mp-input').val();
                let mc = $('#mc-input').val();
                let address = $('#address-input').val();
                $('#answer').val(`${name}\n${dob}\n${contact}\n${email}\n${me}\n${mp}\n${mc}\n${address}`)
            } )
        })
    </script>
</head>

<body>
    <div class="container">
        <br />
        <br />
        <h1>Web form</h1>
        <div class="form-group">
            <label for="name-input" class="form-label">Name</label>
            <input id="name-input" type="text" placeholder="Sohom Datta" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="dob-input" class="form-label">Date of birth</label>
            <input id="dob-input" type="date" value="1/1/1970" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="contact-input" class="form-label">Contact number</label>
            <input id="contact-input" type="number" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="email-input" class="form-label">Email</label>
            <input id="email-input" type="email" placeholder="b@example.com" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="me-input" class="form-label">Marks in English</label>
            <input id="me-input" type="number" placeholder="99%" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="mp-input" class="form-label">Marks in Physics</label>
            <input id="mp-input" type="number" placeholder="99%" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="mc-input" class="form-label">Marks in Chemistry</label>
            <input id="mc-input" type="number" placeholder="99%" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label for="address-input" class="form-label">Address</label>
            <textarea id="address-input" class="form-control"></textarea>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        <br />
        <br />
        Answer:
        <textarea class="form-control" id="answer"></textarea>
        <br />
        <br />
    </div>
</body>
</html>
